{% extends 'main/base.html' %}
{% load static %}
{% block title %}Create Comment{% endblock %}

{% block content %}
{#    <h2>Leave a comment under: "{{ post.title }}"</h2>#}

{#    <h2>Reply to: "{{ comment.text }}"</h2>#}
    {% if comment %}
    <form action="{% url 'create-comment' post.pk comment.pk %}" method="post">
    {% else %}
    <form action="{% url 'create-comment' post.pk 0 %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Leave a comment</button>
    </form>

{% endblock %}