{% extends 'main/base.html' %}
{% load static %}
{% block title %}Create Comment{% endblock %}

{% block content %}
    <div class="comment-form-title">
        <div>
            Comment
        </div>
        <div>
            {% if comment %}
                Reply to: "{{ comment.text }}"
            {% endif %}
        </div>
        <div>
            Under post: "{{ post.title }}"
        </div>
    </div>
    {% if comment %}
    <form action="{% url 'create-comment' post.pk comment.pk %}" method="post">
    {% else %}
    <form action="{% url 'create-comment' post.pk 0 %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Leave a comment</button>
    </form>

{% endblock %}