{% load static %}

<div class="comment">
    <span>[ {{ comment.author.username }} replied to {{ comment.in_reply_to.author.username }} at {{ comment.created_at|date:"H:i d.m.Y" }} ]</span>
    {% if user == comment.author %}
        <div class="post-buttons">
            <div>
                <form action="{% url 'update-comment' comment.pk %}" method="GET">
                    {% csrf_token %}
                    <button type="submit" class="btn-sm btn-primary">Update comment</button>
                </form>
            </div>
            <div>
                <form action="{% url 'delete-comment' comment.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-sm btn-primary">Delete comment</button>
                </form>
            </div>
        </div>
    {% endif %}
    <p>{{ comment.text }}</p>
    {% if comment.is_replying_allowed == True %}
        <p><a href="{% url 'create-comment' comment.post.pk comment.pk %}">Reply</a></p>
    {% endif %}
    {% for item in comment.response_comments.all %}
        {% include 'main/partials/recursive comment.html' with comment=item %}
    {% endfor %}
</div>