{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="shortcut icon" href="{% static "main/img/forum.png" %}">

    <link rel="stylesheet" href="{% static 'main/css/headerAndFooter.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/htmlElementsStyles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/common.css' %}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />

    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <div class="navigation profile">
            <div class="profile">
                <a href="{% url 'main' %}">Go to the main page</a>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}">{{ user.username }}</a>
                {% else %}
                    Profile
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}
        Content
    {% endblock %}

    <footer>
        <div class="footer">
            <div class="footer-text">
                <div>
                    Site development: Karim, <a href="https://github.com/Karim-Valeev">https://github.com/Karim-Valeev</a>
                </div>
            </div>
            <div>
                <a href="https://www.instagram.com/wakai___kami/" class="insta" >
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
    <script src="{% static "main/js/script.js" %}"></script>
</body>
</html>