{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="shortcut icon" href="{% static "main/img/forum.png" %}">

    <link rel="stylesheet" href="{% static 'main/css/header_and_footer.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/switch.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/html_elements_styles.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
{#    npm модуль слишком старый а CDN использовать не хочется#}
    <link rel="stylesheet" type="text/css" href="{% static "fontawesome/css/all.min.css" %}" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">

    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <div class="navigation">
            <div class="profile">
                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}">{{ user.username }}</a>
                {% else %}
                    Profile
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}
        Content
    {% endblock %}

    <footer>
    </footer>


    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "main/js/script.js" %}"></script>
</body>
</html>