{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>

    <link rel="shortcut icon" href="{% static "main/img/forum.png" %}">

    <link rel="stylesheet" href="{% static 'main/css/headerAndFooter.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/htmlElementsStyles.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/common.css' %}">

    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/font-awesome/css/font-awesome.min.css' %}">

    {% block head %}{% endblock %}

</head>
<body>
    <header>
        <div class="navigation profile">
            <div class="profile">
                <a href="{% url 'main' %}">Go to the main page</a>
            </div>
            <div class="profile">
                {% if user.is_authenticated %}
                    <a href="{% url 'account' %}">{{ user.username }}</a>
                {% else %}
                    Profile
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}
        Content
    {% endblock %}

    <footer>
        <div class="footer">
            <div class="footer-text">
                <div>
                    Site development: Karim, <a href="https://github.com/Karim-Valeev">https://github.com/Karim-Valeev</a>
                </div>
            </div>
            <div>
                <a href="https://www.instagram.com/wakai___kami/" class="insta" >
                    <i class="fa fa-instagram fa-lg" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </footer>


    <script src="{% static "node_modules/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "node_modules/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "main/js/script.js" %}"></script>
</body>
</html>