{% extends 'main/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{##}
{#        {% if form.errors %}#}
{#            <b>Проверьте следующие поля:</b>#}
{#            <ul>#}
{#                {% for field, error in form.errors.items %}#}
{#                    {{ field }}: {{ error }}#}
{#                    {{ error }}#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{##}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="container mt-4 mb-4">
            <div class="row justify-content-md-center">
                <div class="col-md-12 col-lg-5">
                    <h1 class="h2 mb-4 center top-margin-50px">Login</h1>
                    {% if form.email.errors %}
                        <div class="alert alert-danger">
                            {{ form.email.errors | escape | striptags }}
                        </div>
                    {% endif %}
                    <label>Email:</label>
                    <div>
                        <input type="text" name="email" required class="form-control mb-2" style="width:100%"  placeholder="Enter email here:" value=""/>
                    </div>

                    <label>Password:</label>
                    <div>
                        <input type="password" name="password" required class="form-control mb-2" style="width:100%"  placeholder="Enter password here:" value=""/>
                    </div>
                    <div class="center">
                        <button type="submit" class="btn btn-primary">
                            Login
                        </button>
                    </div>
                    <div class="center2 top-margin-10px">
                        New to this forum? <a href="{% url 'register' %}">Create an account.</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}