.account-info-text{
    font-size: 20px;
    margin: 10px;
}
.center-create-link{
    text-align: center;
    font-size: 20px;
}

.center{
    text-align: center;
}

.post {
    margin: 15px;
    box-sizing: border-box;
    width: 100%;
    border: rgba(50,76,255,0.11) 3px solid;
}

.post-buttons {
    margin: 10px;
    display: flex;
}

.comment-form-title {
    font-size: 32px;
    font-weight: 500;
    margin: 5px;
}

.comment{
    width: 40%;
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    border: transparent solid 3px;
    border-radius: 10px;

}

.comment:hover {
    border-color: rgba(155, 109, 255, 0.94); /* Цвет рамки */
}

.top-margin-10px{
    margin-top: 10px;
}
