.form-center{
    margin-top: 20px;
    text-align: center;
}

.navigation{
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
    /*margin: 30px 30px 30px 30px;*/
    border: rgba(50,76,255,0.11) 3px solid;
}

.profile{
    font-size: 25px;
    margin: 20px;
}

.pic{
    margin-left: 10px;
}
.main-title-link{
    font-family: 'Merienda', cursive;
    color: black;
    text-decoration: none;
}
.main-title-link:hover{
    color: black;
}

.center{
    text-align: center;
    font-size: 40px;
}

.footer{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    /*margin: 30px 30px 30px 30px;*/
    border: blue 3px solid;
    margin-top: 50px;
    position: fixed;
    width: 100%;
    left: 0; bottom: 0;
}

.footer-text{
    font-size: 15px;
}

.insta{
    font-size: 25px;
    color: blue;
    margin-right: 10px
}

.img-center{
    margin-left: 100px;
    margin-right: 465px;
}